<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add_space" method="post">

        <div>
            <label for="name">What's your space called?</label>
            <input type="text" name="name" id="space_name">
        </div>

        <div>
            <label for="description">What's your space like?</label>
            <textarea name="description" id="space_description" cols="30" rows="10"></textarea>
        </div>

        <div>
            <label for="price">What's your space cost?</label>
            <input type="text" name="price" id="space_price">
        </div>


             <input type="submit" value="Post that awesome space">
         </div>
        </form>
</body>
</html>
