<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Layout Test</title>
  <link rel="stylesheet" href="application.css">
  </head>

<body>
  <div class="topnav">
  <a href="/"> Home </a>
  <a href="/add_space"> Add Space </a>
  <img id="logo-image" class="pull-left" src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/11_Airbnb_logo_logos-128.png">
</div>
  <%= yield %>
</body>
</html>
