<h1> Welcome to MakersBnB </h1>


<div>
<h3> Not signed up yet? Sign up here <h3> 
<form action="/sign_up" method="get">
  <button name="/sign_up" type="submit" value="Sign up"> Sign up</button>
</form>
</div>

<h2> To view spaces, please login below </h2>

<form action="/spaces" method="post">

  <div>
      <label for="name"> Email address </label>
      <input type="email" name="name" id="email">
  </div>

  <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password">
  </div>

  <input type="submit" value="Login" id="log_in">
