<h1> Welcome to MakersBnB! </h1>
<br>
<% if @fail %>
<p>Sorry, we didn't recognise those details. Please try again...</p>
<% end %>
<br>
<div>
<h2> No account yet? Sign up here <h2> 
<form action="/sign_up" method="get">
  <button name="/sign_up" type="submit" value="Sign up"> Sign up</button>
</form>
</div>

<h2> To view and add spaces, login here </h2>

<form action="/log_in" method="post">

  <div>
      <label class="email" for="name"> Email:</label>
      <input class="email_field" type="email" name="email" id="email">
  </div>
  <br>
  <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
  </div>
  <br>
  <input type="submit" value="Login" id="log_in">
