<form action="/spaces" method='get'>
  <input type="submit" value="Back to All Spaces" id="spaces">
</form>

<form action="/add_space" method='get'>
  <input type="submit" value="Add another space" id="add_space">
</form>

<h1>Here is the list of your spaces</h1>
<ul>
<% @user.spaces.each do |space| %>
<li class="space">
  <h3> <%= space.name %> </h3>
  <p> <%= space.description %> </p>
  <p> £<%= space.price %> / night </p>
  <form action="/my_spaces/<%= space.id %>" method="post">
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" />
  </form>
</li>

<li class="space1"></li>
  <form action="/my_spaces" method="post">
    <input type='hidden' name='_method' value='patch'/>
    <input type="submit" value="Edit" />
  </form> 
</li>
<% end %>

</ul>
