<h1> MakersBnB </h1>
<h2> Sign up here... </h2>

<form action="/spaces" method="post">

  <div>
      <label for="name"> Email: </label>
      <input type="email" name="name" id="email">
  </div>
  <br>
  <div>
      <label for="username"> Username: </label>
      <input type="text" name="username" id="username">
  </div>
  <br>
  <div>
      <label for="password">Password: </label>
      <input type="text" name="password" id="password">
  </div>
  <br>
  <div>
      <label for="password_confirmation">Password Confirmation: </label>
      <input type="text" name="password_confirmation" id="password_confirmation">
  </div>
  <br>
  <input type="submit" value="Sign up" id="sign_up">
