<h1> MakersBnB </h1>
<h2> Sign up to MakersBnb </h2>

<form action="/index" method="post">

  <div>
      <label for="name"> Email Address </label>
      <input type="email" name="name" id="email">
  </div>

  <div>
      <label for="username"> Username </label>
      <input type="text" name="username" id="username">
  </div>

  <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password">
  </div>

  <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="text" name="password_confirmation" id="password_confirmation">
  </div>

  <input type="submit" value="Sign up" id="sign_up">
