<h1> Welcome to MakersBnb </h1>


<div>
<h3> Not signed up yet? Sign up here <h3> <form> <input type="submit" action="/sign_up" method="post" value="Sign up"> </form>
</div>

<h2> To view spaces, please sign in below </h2>

<form action="/spaces" method="post">

  <div>
      <label for="name"> Email Address </label>
      <input type="email" name="name" id="email">
  </div>

  <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password">
  </div>


  <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="text" name="password_confirmation" id="password_confirmation">
  </div>

  <input type="submit" value="Sign In" id="sign_in">
