<h1> MakersBnb </h1>
<h2> The sexiest airBnB on the planet. </h2>
<h3> Hi <%= @user.username %>, welcome to MakersBnB </h3>
<form action="/add_space" method="get">
    <input type="submit" value="Add a new space! Click NOWWWW!">
</form>

<% @spaces.each do |space| %>
<h3> <%= space.name %> </h3>
<p> <%= space.description %> </p>
<p> £<%= space.price %> / night </p>

<% end %>
